body{
  background-image: url("../../images/bg.jpg");
  background-position: top center;
  background-repeat: repeat;
}
._landscape{
  height: 100vh;

  &> div{
    padding: $sectionPadding;
  }

  ._pageBg{
    background-color: $pages-bg;
    height: $containerHeight;
    box-shadow: $pageShadow;
  }
}

@media screen and (orientation: landscape) {
  ._landscape{
    ._fold{
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 50%);
      background-position: top left;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (orientation: portrait) {
  ._landscape{
    ._fold{
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 50%);
      background-position: top left;
      background-repeat: no-repeat;
    }
  }
}