@import url('https://fonts.googleapis.com/css?family=Merienda+One|Playfair+Display+SC:400,700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body{
  background-image: url("../../images/bg.jpg");
  background-position: top center;
  background-repeat: repeat;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
}

h1{
  font-family: 'Merienda One', cursive;
  color: $heading-color;
  font-size: 3rem;
  font-weight: bold;
  span{
    color: $text-color;
    font-size: 2rem;
  }
}

img.top-design{
  width: 50%;
}

._landscape, ._portrait{
  height: 100vh;

  &> div{
    padding: $sectionPadding;
  }

  ._pageBg{
    height: $containerHeight;
    box-shadow: $pageShadow;

    ._topDesign{
      padding-top: 0.5rem;
      img{
        width: 40%;
        height: auto;
      }
    }
  }
}

  ._landscape{
    ._fold{
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 50%);
      background-position: top left;
      background-repeat: no-repeat;
    }
  }

  ._portrait{
    ._fold{
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 50%);
      background-position: top left;
      background-repeat: no-repeat;
    }
    ._rotateIcon{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9000;
      opacity: 0.7;

      img{
        width: 25%;
      }
    }
  }


@media screen and (orientation: landscape) {
  ._portrait{
    display: none;
  }
}

@media screen and (orientation: portrait) {
  ._landscape{
    display: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body{
    font-size: 0.8rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  body{
    font-size: 0.8rem;
  }
}