._pagesContainer{
  background-color: $pages-bg;
  overflow: auto;

  ._landingPage {

    ._nameContainer{
      background-image: url("../../images/design-left.png"), url("../../images/design-right.png");
      background-position: left center, right center;
      background-size: 20% auto;
      background-repeat: no-repeat;
    }

    ._inverted{
      img{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
      }
    }

    img.mid-design{
      width: 15%;
    }
  }

  ._countdown{
    ._clockDigit{
      font-size: 2rem;
      font-family: "Times New Roman", sans-serif;
    }
    ._title{
        font-size: 0.8rem;
      }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  ._pagesContainer{
    ._landingPage{
      h1{
        font-size: 1.5rem;
        span{
          font-size: 1rem;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  ._pagesContainer{
    ._landingPage{
      h1{
        font-size: 1.5rem;
        span{
          font-size: 1rem;
        }
      }
    }
  }
}
