._sliderContainer {
  position: relative;

  ._sliderImages{

    > ._sliderImage{
      position: absolute;
      top: 0;
      left:0;
      background-size: cover;
      background-position: center top;
      height: $containerHeight;
      border: $sliderImageBorder;
    }

  }

  ._sliderNavigatorContainer{
    position: absolute;
    bottom: 0;
    left: 0;

    > ._sliderNavigator{
      padding: 5px;
      background-color: $sliderNavigatorColor;
      border-radius: 10px;
      margin: 0 5px 30px 5px;
      transition: padding 0.3s ease;
      -webkit-transition: padding 0.3s ease;

      &.active, &:hover, &:focus{
        padding: 3px 10px;
      }
    }
  }

}